.Arts{

height: 500px;
width: 100%;
margin-left:10%;
text-align: left;
color:#2d5bb9;
  background-image: url('https://www.formdesigncenter.com/uploads/2013/11/grayscale-albert-einstein-monochrome-scientists-black-background-portraits-HD-Wallpapers.jpg');
  background-repeat: no-repeat;
  background-size: cover;


}



.Arts h1{
    color:whitesmoke;
   
    font-size: 2em;

}
.Arts h3,p{
  
    color:#2d5bb9;

}
.Arts a{


  text-decoration: none;
  display: inline-block;
  margin:0;

  padding:0;
}
.Arts a:hover{


  background-color: #2d5bb9;
}
