.Main{
  
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    width:100%;
    margin:15px auto;

  min-height: 800px;
    
   
}

.Main p{
     color:rgb(200, 200, 220);
     
}
